[submodule "linux"]
	path = linux
	url = https://github.com/cache-ext/linux-cache-ext.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/cache-ext/leveldb.git
[submodule "My-YCSB"]
	path = My-YCSB
	url = https://github.com/xrp-project/My-YCSB.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/cache-ext/rocksdb.git
